html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.fondo {
    min-height: 100vh;
    background-image: url(../../../../../public/ImplodingRaccoonsFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logotipo {
    height: 25vh;
}

#cuadradoCentrar {
    border-radius: 30px;
    border: 4px solid black;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 15px;
}

/***
*       LINEA
*/
hr {
    border: none;
    border-top: 4px solid #000;
    width: 90%;
    margin: 0 auto;
}

button, #Contrasenia{
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    padding: 0.5em 1em;
    box-sizing: border-box;
    margin-right: 1ch;
}

#totalAncho, #Contrasenia{
    width: 100%;
}

h4 , h3 {
    margin: 0;
}

#subTitulo {
    font-size: 0.7em;
}

#centralVisionado {
    margin: 4vh 25%;
}

#separacion{
    margin-top: 10px;
}

#totalAncho:hover, #botonQuitar:hover, #botonAnadir:hover {
    transform: scale(0.995);
}

#totalAncho:active, #botonQuitar:active, #botonAnadir:active  {
    transform: scale(0.95);
}