<div class="centrado">

    <img id="iconoWiki" src="mapacheWiki.png" alt="IconoImplodingRacoonWiki">

    <div class="navbar">
            <a class="centradoNabar" routerLink="/wiki" >
                <img id="Icono" src="casa.png" alt="">
                <span>Inicio</span>
            </a>

            <hr>

            <a class="centradoNabar" routerLink="/wiki/anadir" >
                <img id="Icono" src="mas.png" alt="">
                <span>Añadir</span>
            </a>

            <hr>

            <a class="centradoNabar" routerLink="/wiki/perfil" >
                <img id="Icono" src="perfil.png" alt="">
                <span>Perfil</span>
            </a>
    </div>
</div>