<div class="centrado">

    <app-navbar></app-navbar>

    <div class="central">

        <div class="centradoBuscador">
            <form action="">
                <input type="search" name="buscador" class="buscador" placeholder="Buscador" >
                <input type="image" src="buscar.png" id="buscar" class="buscador">
            </form>
        </div>


        @if (PostBuscados.length > 0) {

            <div class="grid">
            @for (post of PostBuscados; track $index) 
            {

            <div class="tarjeta">
                <div class="centradoTarjeta">
                    <h4>{{post.titulo}}</h4>

                    <span>
                        {{post.comentarios}}
                        <img src="bocadillo.png" alt="">
                    </span>
                </div>

                <div class="centradoTarjeta">
                    <span>{{post.fecha | date:'d/M/yy'}}</span>

                    <span>{{post.nombreUsuario}}</span>
                </div>
            </div>
            }
        </div>

        }
        @else {

            <div class="centradoNoPost">
                <h3>No hay post segun tu busqueda</h3>
            </div>
            
            <div class="centradoNoPost">
                <img src="inconoNoPost.png" alt="">
            </div>

        }   
        
    </div>

</div>


