<div class="centrado">

    <img id="iconoWiki" src="mapacheWiki.png" alt="IconoImplodingRacoonWiki">

    <div class="navbar">
            <div class="centradoNabar">
                <img id="Icono" src="casa.png" alt="">
                <span>Inicio</span>
            </div>

            <hr>

            <div class="centradoNabar">
                <img id="Icono" src="mas.png" alt="">
                <span>Añadir</span>
            </div>

            <hr>

            <div class="centradoNabar">
                <img id="Icono" src="perfil.png" alt="">
                <span>Perfil</span>
            </div>
    </div>

    <div class="central">

        <div class="buscadores">
            <form action="">
                <input type="search" name="buscador" class="buscador" placeholder="Buscador" >
                <input type="image" src="buscar.png" id="buscar" class="buscador">
            </form>
        </div>

        <div class="grid">
            <div class="tarjeta">
                <div class="centradoTarjeta">
                    <h4>Titulo post - Titulo post</h4>

                    <span>
                        xxx
                        <img src="bocadillo.png" alt="">
                    </span>
                </div>

                <div class="centradoTarjeta">
                    <span>Fecha</span>

                    <span>Usuario</span>
                </div>
            </div>

        </div>
    </div>

</div>


