<div id="pantalla">
    <div id="fondoMesa">

        <div id="centralCartas">
            <img id="cartaAbajo" class="carta" [src]="cartasMedio" alt="">  
            <img id="cartaMedio" class="carta" [src]="cartasMedio" alt=""> 
            <img id="cartaArriba" class="carta" [src]="cartasMedio" alt="">       
        </div>

    </div>
    <div id="chatYcerrarPartida">
        <h2 id="codigoSala">Codigo sala: XXXXX</h2>
        <hr>
        <div id="cajaChat">
            <h3 id="tituloChat">Chat</h3>
            <hr>
            <div id="mensajesChat">

            </div>
        </div>

        <button id="botonAcabarPartida" (click)="acabarPartida()">Acabar partida</button>
    </div>
</div>
