<div class="fondo">
    <div class="centrado">
        <div>
            <img id="logotipo" src="img_imploding_racoons_logo.png" alt="iconoImplodingRacoons">
        </div>
        <div id="cuadradoCentrar">
            
            @if (logueado) {
                <app-logueado></app-logueado>
            }
            @else {
                <app-sin-loguear></app-sin-loguear>
            }

            <hr>

            <form (submit)="submit()" [formGroup]="form">

                <h2 id="tituloLogin">Login</h2>

                <div>

                    <label for="correoOrUser" class="negrita">Email o Usuario</label>
                    <br>
                    <input type="text" name="correo O usuario" id="texto" class="rectangulos" formControlName="email" required>
                    <br>

                    <label for="contraseña" class="negrita">Contraseña</label>
                    <br>
                    <input type="text" name="contraseña" id="texto" class="rectangulos" formControlName="password" required>
                    <br>

                    <div id="texto">
                        <input type="checkbox" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}"/>
                        <label for="recordar" class="negrita">Recordar</label>
                    </div>

                </div>


                <input type="submit" value="Iniciar sesion" class="rectangulos" id="botones">

            </form>

            <hr>

            <app-footer></app-footer>
            
        </div>
    </div>
</div>