<div class="fondo">
    <div class="centrado">
        <div>
            <img id="logotipo" src="img_imploding_racoons_logo.png" alt="iconoImplodingRacoons" routerLink="/">
        </div>
        <div id="cuadradoCentrar">
            
            @if (logueado) {
                <app-logueado></app-logueado>
            }
            @else {
                <app-sin-loguear></app-sin-loguear>
            }

            <hr>
            
            <h3>Ajustes</h3>

            <div class="botones" >
                <h4>Selecionar tipo de carta:</h4>
                <button class="botonesMedio" id="seleccionarCartas">cartas</button>
            </div>

            <div class="botones">
                <button class="botonesMedio" id="volver" routerLink="/">Volver</button>
            </div>

            <hr>

            <app-footer></app-footer>
        </div>
    </div>
</div>

