<div class="fondo">
    <div class="centrado">
        <div>
            <img id="logotipo" src="img_imploding_racoons_logo.png" alt="iconoImplodingRacoons">
        </div>
        <div id="cuadradoCentrar">
            
            @if (logueado) {
                <app-logueado></app-logueado>
            }
            @else {
                <app-sin-loguear></app-sin-loguear>
            }

            <hr>
            
            <h3>Cartas</h3>

            <div class="botones" id="crearMesa">
                <button class="botonesMedio" id="seleccionarCartas">Seleccionar tipo cartas</button>
            </div>

            <hr>

            <app-footer></app-footer>
        </div>
    </div>
</div>

