<div id="fondo">

    <app-navbar></app-navbar>

    <div id="centradoCentral">
        <div class="central">
            <form class="parent">
                <div class="div1"> 
                    <label for="Titulo">Titulo</label>
                    <br>
                    <input type="text" name="titulo" id="titulo" placeholder="Titulo">
                </div>

                <div class="div2">
                    <br>
                    <input type="submit" name="publicar" id="publicar" value="Publicar">
                </div>

                <div class="div3">
                    <label for="Descripcion">Descripcion</label>
                    <br>
                    <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion">
                </div>

            </form>
        </div>
    </div>

</div>


