<div id="fondoMesa">
    <h2 id="numeroSala" class="h2ArribaDerecha">Numero Sala: {{idMesa}} </h2>
    <h2 class="h2ArribaDerecha">Jugador Nombre: {{nombreJugador}}</h2>

    
    <div id="centralCartas">
        <img id="carta1" class="carta" [src]="cartasMedio" alt="">  
        <img id="carta2" class="carta" [src]="cartasMedio" alt=""> 
        <img id="carta3" class="carta" [src]="cartasMedio" alt="">       
        <img id="carta4" class="carta" [src]="cartasMedio" alt="">  
        <img id="carta5" class="carta" [src]="cartasMedio" alt=""> 
        <img id="carta6" class="carta" [src]="cartasMedio" alt="">       
        <img id="carta7" class="carta" [src]="cartasMedio" alt="">     
    </div>
</div>

