<div class="gridCentral">
    <div class="botones" id="crearMesa">
        <button class="botonesMedio" id="crearMesa">Crear una mesa</button>
    </div>
    <div class="botones" id="unirse">
        <button class="botonesMedio" id="unirse">Unirse</button>
    </div>
    <div class="botones" id="wiki">
        <button class="botonesMedio" id="botonesAbajoMedio">Wiki</button>
    </div>
    <div class="botones" id="ajustes">
        <button class="botonesMedio" id="botonesAbajoMedio">Ajustes</button>
    </div>
    <div class="botones" id="sobreNosotros">
        <button class="botonesMedio" id="botonesAbajoMedio">Sobre nosotros</button>
    </div>
</div>