<div class="parentGrid">
    <a id="githubAdrian" class="enlaces" href="https://github.com/Adricarmona">
        <img class="iconoGithub" src="github_icono.png" alt="icono de github">
        <span>&#64;Adricarmona - GLa2s </span>
    </a>
    <a id="githubHector" class="enlaces" href="https://github.com/HectorDominguezG">
        <img class="iconoGithub" src="github_icono.png" alt="icono de github">
        <span>&#64;HectorDominguezG</span>
    </a>
    <a id="linkedinAdrian" class="enlaces" href="https://www.linkedin.com/in/adriancarmonagalvez/">
        <img class="iconoGithub" src="linkedin_icono.png" alt="icono de github">
        <span>&#64;Adrián Carmona Gálvez </span>
    </a>
    <a id="linkedinHector" class="enlaces" href="https://www.linkedin.com/in/h%C3%A9ctor-dom%C3%ADnguez-garc%C3%ADa-058191310/">
        <img class="iconoGithub" src="linkedin_icono.png" alt="icono de github">
        <span>&#64;Héctor Domínguez García </span>
    </a>
</div>