<div class="fondo">
    <div class="centrado">
        <div>
            <h2>Imploding racoons</h2>
        </div>
        <div id="cuadradoCentrar">
            
            @if (true) {
                <app-logueado></app-logueado>
            }
            @else {
                <app-sin-loguear></app-sin-loguear>
            }

            <hr>

            @if (false) {
                <app-opciones-menu></app-opciones-menu>
            }
            @else if(true) {
                <app-registro></app-registro>
            }
            @else {
                <app-login></app-login>
            }

            <hr>

            <app-footer></app-footer>
        </div>
    </div>
</div>

