<div class="fondo">
    <div class="centrado">
        <div>
            <h2>Imploding racoons</h2>
        </div>
        <div id="cuadradoCentrar">
            
            @if (logueado) {
                <app-logueado></app-logueado>
            }
            @else {
                <app-sin-loguear></app-sin-loguear>
            }

            <hr>

            <ng-container [ngSwitch]="estado">
                <app-opciones-menu *ngSwitchCase="'menu'"></app-opciones-menu>
                <app-registro *ngSwitchCase="'registro'"></app-registro>
                <app-login *ngSwitchCase="'login'"></app-login>
              </ng-container>

            <hr>

            <app-footer></app-footer>
        </div>
    </div>
</div>

