<div class="fondo">
    <div class="centrado">
        <div>
            <img id="logotipo" src="img_imploding_racoons_logo.png" alt="iconoImplodingRacoons" routerLink="/">
        </div>
        <div id="cuadradoCentrar">
            
            @if (logueado) {
                <app-logueado></app-logueado>
            }
            @else {
                <app-sin-loguear></app-sin-loguear>
            }

            <hr>

            <div id="texto">
                <p>Se trata de una plataforma que combina una wiki informativa y un juego online multijugador, inspirado en la mecánica del conocido juego de cartas Exploding Kittens.</p>
                    
                <p>Nuestro objetivo ha sido diseñar una experiencia accesible, dinámica y entretenida, que demuestre nuestras competencias técnicas y creativas adquiridas a lo largo del ciclo formativo.</p>
            </div>

            <div class="botones">
                <button class="botonesMedio" id="volver" routerLink="/">Volver</button>
            </div>

            <hr>

            <app-footer></app-footer>
        </div>
    </div>
</div>

