<div class="fondo">
    <div class="centrado">
        <div>
            <img id="logotipo" src="img_imploding_racoons_logo.png" alt="iconoImplodingRacoons">
        </div>
        <div id="cuadradoCentrar">
            
            @if (logueado) {
                <app-logueado></app-logueado>
            }
            @else {
                <app-sin-loguear></app-sin-loguear>
            }

            <hr>

            <app-opciones-menu></app-opciones-menu>

            <hr>

            <app-footer></app-footer>
        </div>
    </div>
</div>

