<div class="fondo">
    <div class="centrado">
        <div routerLink="/">
            <img id="logotipo" src="img_imploding_racoons_logo.png" alt="iconoImplodingRacoons">
        </div>
        <div id="cuadradoCentrar">
            
            @if (logueado) {
                <app-logueado></app-logueado>
            }
            @else {
                <app-sin-loguear></app-sin-loguear>
            }

            <hr>

            <div class="gridCentral">
                <div class="botones" id="crearMesa">
                    <button routerLink="/crearMesa" class="botonesMedio" id="crearMesa">Crear una mesa</button>
                </div>
                <div class="botones" id="unirse">
                    <button routerLink="/unirMesa" class="botonesMedio" id="unirse">Unirse</button>
                </div>
                @if (logueado) {
                    <div class="botones" id="wiki">
                        <button routerLink="/wiki" class="botonesMedio" id="wiki">Wiki</button>
                    </div>
                }
                @else {
                    <div class="botones" id="wiki">
                        <button routerLink="/wiki" class="botonesMedio" id="wikiSin" (click)="alertaWiki()">Wiki</button>
                    </div>
                }
                <div class="botones" id="ajustes">
                    <button routerLink="/ajustes" class="botonesMedio" id="botonesAbajoMedio">Ajustes</button>
                </div>
                <div class="botones" id="sobreNosotros">
                    <button routerLink="/sobre_nosotros" class="botonesMedio" id="botonesAbajoMedio">Sobre nosotros</button>
                </div>
            </div>
            
            <hr>

            <app-footer></app-footer>
        </div>
    </div>
</div>

