<div class="fondo">
    <div class="centrado">
        <div>
            <img id="logotipo" src="img_imploding_racoons_logo.png" alt="iconoImplodingRacoons" routerLink="/">
        </div>
        <div id="cuadradoCentrar">
            
            @if (logueado) {
                <app-logueado></app-logueado>
            }
            @else {
                <app-sin-loguear></app-sin-loguear>
            }

            <hr>

            <div class="centradoMedio">

                <h3>Unirse Mesa</h3>

                <div id="separacion">
                    <input type="search" name="contrasenia" id="CodigoMesa" placeholder="Codigo Mesa">
                </div>

                <div id="separacion">
                    <input type="checkbox" [(ngModel)]="contrasenia" [ngModelOptions]="{standalone: true}"/>
                    <label for="contrasenia" class="negrita">Sala con contraseña</label>
                </div>

                <div id="separacion">
                    <input type="search" name="contrasenia" id="Contrasenia" placeholder="Contraseña">
                </div>

                <div id="separacion">
                    <button id="totalAncho">Entrar</button>
                </div>

                <div id="separacion">
                    <button  routerLink="/" id="totalAncho">Volver</button>
                </div>

            </div>

            <hr>

            <app-footer></app-footer>
        </div>
    </div>
</div>

