#fondo {    
    min-height: 100vh;
    background-image: url("../../../../../public/implodingRacoonWiki_fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*      MENU ABAJO DE ABAJO   */

.central {
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    padding: 1em;
}


/*      Grid central  

    grid-auto-flow: row;
*/
.container {  
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 50px;

    max-width: 60vw;
    margin: 30px;
}

.post { 
    grid-area: 1 / 1 / 2 / 2;
}

.arriba {
    display: flex;
    justify-content: space-between;
}

#fechaYusuario {
    display: flex;
    align-items: end;
    color: gray;
}

h2, h4, h5 {
    margin: 0;
}

#Usuario {
    margin-left: 10px;
}

hr {
    border-color: rgba(128, 128, 128, 0.30);
    color: rgba(128, 128, 128, 0.30);
    margin-top: 20px;
    margin-bottom: 20px;
}

/**     Añadir comentrio    **/

#anadirComentario { 
    text-align: center;
}

input {
    margin-top: 10px;
}

.rectanguloBoton {
    background-color: white;
    border-radius: 10px;
    background-color: white; 
    border: 1px solid #000000;
}


/**     Comentarios     **/
#comentario {
    height: fit-content;
    width: 100%;
    text-align: center;
    height: 60px;
}

.centradoNoPost {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    padding: 5px 15px;
}

#button:hover {
    background-color: rgba(255, 255, 255, 0.727);
    transform: scale(0.9);
}

#button:active {
    transform: scale(0.8);
}

.comentarios { 
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;

    padding: 20px;
    padding-top: 0;
}

#comentarioLateral {
    text-align: start;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;

    margin-bottom: 10px;
}

.arribaComentarioLateral {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#guion {
    margin-left: 10px;
    margin-right: 10px;
}

#tituloComentarios {
    margin-bottom: 10px;
}

h5 {
    color: gray;
}