<div id="fondo">

    <app-navbar></app-navbar>

    <div id="centradoCentral">
        <div class="central">
            <div class="izquierdo">
                <div id="fotoYnombreUsuario">
                    <img [src]="datosUsuario.urlFoto" alt="Foto del usuario" id="imagenPerfil">
                    <img src="editar.png" alt="editar foto" id="editar" class="espaciadoDerecha" (click)="activarModalCambioIcono()">
                    <h3 id="imagenTexto">{{datosUsuario.nombreUsuario}}</h3>
                    <img src="editar.png" alt="editar foto" id="editar" class="espaciadoDerecha" (click)="activarModalCambioDatos()">
                </div>
                <div>
                    <h4>Estado: conectado 🟢</h4>
                </div>

                <div>
                    <span id="subtituloAmigos">Amigos: {{datosUsuario.cantidadAmigos}} - Partidas Jugadas: XXX</span>
                </div>

                <div id="Amigos">
                    <h3>Amigos</h3>
                    <div id="bloqueAmigos">
                        @if (amigos == null) {
                            <div id="Amigos">
                                <span>No tienes amigos todavia</span>
                            </div>
                            <div id="Amigos">
                                <img src="inconoNoPost.png" alt="">
                            </div>


                        }
                        @else {

                            @for (item of amigos; track $index) {
                                <div id="centradoAmigos">
                                    <div id="centradoTexto">
                                        <img [src]="item.foto" alt="Foto Amigo" id="fotoAmigos">
                                        <samp>{{item.nombreUsuario}}</samp>
                                    </div>
                                    <div id="centradoTexto">
                                        <button id="botonEliminar" (click)="eliminarAmigo(item.id)">Eliminar</button>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
            <div class="drecha">
                <h3>Historial de Post</h3>
                <div id="bloqueAmigos">
                    @for (post of postHechos; track $index) {

                        <a class="tarjeta" routerLink="/wiki/post/{{post.id}}">
                            <div class="centradoTarjeta">
                                <h4>{{post.titulo}}</h4>

                                <span>
                                    {{post.comentarios}}
                                    <img src="bocadillo.png" alt="">
                                </span>
                            </div>

                            <div class="centradoTarjeta">
                                <span>{{post.fecha | date:'d/M/yy'}}</span>

                                <span>{{post.nombreUsuario}}</span>
                            </div>
                        </a>
                        
                    }
                    
                </div>
            </div>
        </div>
    </div>

</div>

@if (modalModificacionFoto) {

    <div class="modal-overlay">
        <div class="modal">
            <h2>Cambiar icono perfil</h2>
            <p><input type="file" accept="image/png, image/jpeg, image/jpg" (change)="onFileSelected($event)"></p>
            <p><button type="button" (click)="actualizarFoto()">Cambiar</button></p>
            <button type="button" (click)="activarModalCambioIcono()">Cerrar</button>
        </div>
    </div>

}

@if (modalMoificacionUsuario) {

    <div class="modal-overlay">
        <div class="modal">
            <div class="gridPerfilEditar">

                <div id="deleccionEditar">
                    <h3>Cambiar Nombre</h3>
                    <p><input type="text" name="Nombre" id="buscador" [(ngModel)]="nuevoNombre"></p>
                    <p><input type="submit" id="BotonesInput" value="cambiar nombre"></p>
                </div>

                <div id="deleccionEditar">
                    <h3>Cambiar contraseña</h3>
                    <p><input type="text" name="contraseña" id="buscador" [(ngModel)]="nuevaContrasena"></p>
                    <p><input type="submit" id="BotonesInput" value="cambiar contraseña"></p>
                </div>

                <div id="deleccionEditar">
                    <h3>Eliminar usuario</h3>
                    @if (confirmadoUsuarioEliminar == false) {
                        <input id="primerEliminar" class="botonEliminarUsuario" type="submit" value="Eliminar usuario" (click)="confirmarEliminar()">
                    }
                    @if (confirmadoUsuarioEliminar == true) {
                        <input id="segundoEliminar" class="botonEliminarUsuario" type="submit" value="Confirmar eliminar">
                    }
                </div>

            </div>
            <button id="BotonesInput" (click)="activarModalCambioDatos()">Cerrar</button>
        </div>
    </div>

}