#fondo {    
    height: 100vh;
    background-image: url("../../../../../public/implodingRacoonWiki_fondo.png");
}

#centradoCentral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.central {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;

    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    padding: 1em;
    width: 60vw;
}

#fotoYnombreUsuario {
    display: flex;
    align-items: center;  
}

#imagenPerfil {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    border: 2px solid black;
}

#editar {
    width: 2.5vh;
}

#imagenTexto {
    margin-left: 20px;
}

.espaciadoDerecha {
    margin-left: 8px;
}

#subtituloAmigos {
    color: gray;
}

#Amigos {
    text-align: center;
}

#bloqueAmigos {
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    padding: 1em;
}

#fotoAmigos {
    width: 4vh;
    border-radius: 100%;
    border: 2px solid black;

    margin-right: 10px;
}

#centradoAmigos {
    display: flex;
    justify-content: space-between;
}

#centradoTexto {
    display: flex;
    align-items: center;
}

#botonEliminar {
    background-color: red;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}


.tarjeta {
    width: 18em;

    padding: 20px;
    border-radius: 12px;
}

.tarjeta:active {
    transform: scale(0.9);
}

h4 {
    margin: 0;
}

.centradoTarjeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  modal   */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 700px;
    width: 90vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

    text-align: center;
}


/*  Modal editar perfil  */
.gridPerfilEditar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;  
    
    margin-bottom: 20px;
}

#deleccionEditar {
    padding: 10px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.botonEliminarUsuario {
    padding: 8px;
    color: white;
    border-radius: 20px;
    border: 2px solid black;
}

#primerEliminar {
    background-color: blue;
}

#segundoEliminar {
    background-color: red;
}

#buscador {
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    padding: 0.5em 1em;
    box-sizing: border-box;
    margin-right: 1ch;
}

#BotonesInput {
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

@media (max-width: 1053px) {
    .central {
        grid-template-columns: repeat(1, 1fr);
    }
}
